## Filter imagenes_disponibles

Only Glacier

In [1]:
import numpy as np
import pandas as pd

In [2]:
imagenes_disponibles = pd.read_csv('s3_imagenes_disponibles.csv')

In [3]:
imagenes_disponibles

,sector,product,scene,date,type,filename,full_path
0,Valparaiso,jilin,REQ_3134,20221118,mss,JL1KF01A_PMS02_20221118221930_200113258_101_00...,s3://easido-prod-dc-data-projects/saf/jilin/va...
1,Valparaiso,jilin,REQ_3134,20221118,mss,JL1KF01A_PMS01_20221118221930_200113258_101_00...,s3://easido-prod-dc-data-projects/saf/jilin/va...
2,Valparaiso,jilin,REQ_3134,20221118,mss,JL1KF01A_PMS02_20221118221930_200113258_101_00...,s3://easido-prod-dc-data-projects/saf/jilin/va...
3,Valparaiso,jilin,REQ_3134,20221118,pan,JL1KF01A_PMS02_20221118221930_200113258_101_00...,s3://easido-prod-dc-data-projects/saf/jilin/va...
4,Valparaiso,jilin,REQ_3134,20221118,pan,JL1KF01A_PMS01_20221118221930_200113258_101_00...,s3://easido-prod-dc-data-projects/saf/jilin/va...
...,...,...,...,...,...,...,...
231,Valparaiso,skysat,20210411_144046_ssc12_u0001,20210411,qa,20210411_144046_ssc12_u0001_pansharpened_udm2_...,s3://easido-prod-dc-data-projects/saf/skysat/v...
232,Valparaiso,skysat,20210411_144046_ssc12_u0001,20210411,qa,20210411_144046_ssc12_u0001_pansharpened_udm2_...,s3://easido-prod-dc-data-projects/saf/skysat/v...
233,Valparaiso,skysat,20210411_144046_ssc12_u0001,20210411,qa,20210411_144046_ssc12_u0001_pansharpened_udm2_...,s3://easido-prod-dc-data-projects/saf/skysat/v...
234,Valparaiso,skysat,20210411_144046_ssc12_u0001,20210411,qa,20210411_144046_ssc12_u0001_pansharpened_udm2_...,s3://easido-prod-dc-data-projects/saf/skysat/v...
235,Valparaiso,skysat,20210411_144046_ssc12_u0001,20210411,qa,20210411_144046_ssc12_u0001_pansharpened_udm.tif,s3://easido-prod-dc-data-projects/saf/skysat/v...

In [4]:
print(np.unique(imagenes_disponibles["sector"]))

['Glaciar Grey' 'Petorca' 'Valparaiso']

### Filter

In [5]:
only_glacier = imagenes_disponibles[imagenes_disponibles["sector"] == "Glaciar Grey"]
only_glacier = only_glacier.reset_index(drop=True)

In [6]:
only_glacier

,sector,product,scene,date,type,filename,full_path
0,Glaciar Grey,aerial,19980220_12429_modified,19980220,monoband,19980220_12429_modified.tif,s3://easido-prod-dc-data-projects/saf/aerial/G...
1,Glaciar Grey,aerial,19840330_22214_GEO,19840330,monoband,19840330_22214_GEO.tif,s3://easido-prod-dc-data-projects/saf/aerial/G...
2,Glaciar Grey,aerial,19841220_24073_modificado,19841220,monoband,19841220_24073_modificado.tif,s3://easido-prod-dc-data-projects/saf/aerial/G...
3,Glaciar Grey,aerial,19980220_12373_GEO,19980220,monoband,19980220_12373_GEO.tif,s3://easido-prod-dc-data-projects/saf/aerial/G...
4,Glaciar Grey,aerial,19850129_25841_modificado,19850129,monoband,19850129_25841_modificado.tif,s3://easido-prod-dc-data-projects/saf/aerial/G...
...,...,...,...,...,...,...,...
107,Glaciar Grey,planet_scope,REQ_6794,20231230,qa,composite_udm2_qb-haze_light.tif,s3://easido-prod-dc-data-projects/saf/planet_s...
108,Glaciar Grey,planet_scope,REQ_6794,20231230,mss,composite_green1.tif,s3://easido-prod-dc-data-projects/saf/planet_s...
109,Glaciar Grey,planet_scope,REQ_6794,20231230,mss,composite_redegde.tif,s3://easido-prod-dc-data-projects/saf/planet_s...
110,Glaciar Grey,planet_scope,REQ_6794,20231230,mss,composite_blue.tif,s3://easido-prod-dc-data-projects/saf/planet_s...
111,Glaciar Grey,planet_scope,REQ_6794,20231230,mss,composite_yellow.tif,s3://easido-prod-dc-data-projects/saf/planet_s...

### Save

In [7]:
#only_glacier.to_csv('s3_imagenes_glaciar.csv', index=False)

### Load

In [8]:
s3_imagenes_glaciar = pd.read_csv('s3_imagenes_glaciar.csv')
print(np.unique(s3_imagenes_glaciar["sector"]))

['Glaciar Grey']

In [9]:
s3_imagenes_glaciar

,sector,product,scene,date,type,filename,full_path
0,Glaciar Grey,aerial,19980220_12429_modified,19980220,monoband,19980220_12429_modified.tif,s3://easido-prod-dc-data-projects/saf/aerial/G...
1,Glaciar Grey,aerial,19840330_22214_GEO,19840330,monoband,19840330_22214_GEO.tif,s3://easido-prod-dc-data-projects/saf/aerial/G...
2,Glaciar Grey,aerial,19841220_24073_modificado,19841220,monoband,19841220_24073_modificado.tif,s3://easido-prod-dc-data-projects/saf/aerial/G...
3,Glaciar Grey,aerial,19980220_12373_GEO,19980220,monoband,19980220_12373_GEO.tif,s3://easido-prod-dc-data-projects/saf/aerial/G...
4,Glaciar Grey,aerial,19850129_25841_modificado,19850129,monoband,19850129_25841_modificado.tif,s3://easido-prod-dc-data-projects/saf/aerial/G...
...,...,...,...,...,...,...,...
107,Glaciar Grey,planet_scope,REQ_6794,20231230,qa,composite_udm2_qb-haze_light.tif,s3://easido-prod-dc-data-projects/saf/planet_s...
108,Glaciar Grey,planet_scope,REQ_6794,20231230,mss,composite_green1.tif,s3://easido-prod-dc-data-projects/saf/planet_s...
109,Glaciar Grey,planet_scope,REQ_6794,20231230,mss,composite_redegde.tif,s3://easido-prod-dc-data-projects/saf/planet_s...
110,Glaciar Grey,planet_scope,REQ_6794,20231230,mss,composite_blue.tif,s3://easido-prod-dc-data-projects/saf/planet_s...
111,Glaciar Grey,planet_scope,REQ_6794,20231230,mss,composite_yellow.tif,s3://easido-prod-dc-data-projects/saf/planet_s...

## Analysis

In [10]:
s3_imagenes_glaciar

,sector,product,scene,date,type,filename,full_path
0,Glaciar Grey,aerial,19980220_12429_modified,19980220,monoband,19980220_12429_modified.tif,s3://easido-prod-dc-data-projects/saf/aerial/G...
1,Glaciar Grey,aerial,19840330_22214_GEO,19840330,monoband,19840330_22214_GEO.tif,s3://easido-prod-dc-data-projects/saf/aerial/G...
2,Glaciar Grey,aerial,19841220_24073_modificado,19841220,monoband,19841220_24073_modificado.tif,s3://easido-prod-dc-data-projects/saf/aerial/G...
3,Glaciar Grey,aerial,19980220_12373_GEO,19980220,monoband,19980220_12373_GEO.tif,s3://easido-prod-dc-data-projects/saf/aerial/G...
4,Glaciar Grey,aerial,19850129_25841_modificado,19850129,monoband,19850129_25841_modificado.tif,s3://easido-prod-dc-data-projects/saf/aerial/G...
...,...,...,...,...,...,...,...
107,Glaciar Grey,planet_scope,REQ_6794,20231230,qa,composite_udm2_qb-haze_light.tif,s3://easido-prod-dc-data-projects/saf/planet_s...
108,Glaciar Grey,planet_scope,REQ_6794,20231230,mss,composite_green1.tif,s3://easido-prod-dc-data-projects/saf/planet_s...
109,Glaciar Grey,planet_scope,REQ_6794,20231230,mss,composite_redegde.tif,s3://easido-prod-dc-data-projects/saf/planet_s...
110,Glaciar Grey,planet_scope,REQ_6794,20231230,mss,composite_blue.tif,s3://easido-prod-dc-data-projects/saf/planet_s...
111,Glaciar Grey,planet_scope,REQ_6794,20231230,mss,composite_yellow.tif,s3://easido-prod-dc-data-projects/saf/planet_s...

In [11]:
print(np.unique(s3_imagenes_glaciar["product"]))

['aerial' 'planet_scope']

In [12]:
print(np.unique(s3_imagenes_glaciar["type"]))

['monoband' 'mss' 'qa']

In [13]:
print("Number of dates: ", len(np.unique(s3_imagenes_glaciar["date"])))

Number of dates:  11

In [14]:
pd.crosstab(s3_imagenes_glaciar['product'], s3_imagenes_glaciar['type'])

type          monoband  mss  qa
product
aerial              48    0   0
planet_scope         0   32  32

-----

In [15]:
pd.crosstab(s3_imagenes_glaciar['product'], s3_imagenes_glaciar['date'])

date,19840330,19841219,19841220,19850129,19850206,19980218,19980220,20201120,20211112,20221127,20231230
product,,,,,,,,,,,
aerial,17,3,8,8,2,4,6,0,0,0,0
planet_scope,0,0,0,0,0,0,0,16,16,16,16

----

In [16]:
pd.crosstab(s3_imagenes_glaciar['type'], s3_imagenes_glaciar['date'])

date,19840330,19841219,19841220,19850129,19850206,19980218,19980220,20201120,20211112,20221127,20231230
type,,,,,,,,,,,
monoband,17,3,8,8,2,4,6,0,0,0,0
mss,0,0,0,0,0,0,0,8,8,8,8
qa,0,0,0,0,0,0,0,8,8,8,8

----

In [18]:
print("Product: aerial")

only_aerial = s3_imagenes_glaciar[s3_imagenes_glaciar["product"]=="aerial"]
print(np.unique(only_aerial['scene']))

pd.crosstab(only_aerial['scene'], only_aerial['type'])

Product: aerial
['19840330_22116_GEO' '19840330_22118_GEO' '19840330_22119_GEO'
 '19840330_22120_GEO' '19840330_22121_GEO' '19840330_22122_GEO'
 '19840330_22123_GEO' '19840330_22212_GEO' '19840330_22213_GEO'
 '19840330_22214_GEO' '19840330_22215_GEO' '19840330_22216_GEO'
 '19840330_22217_GEO' '19840330_22218_GEO' '19840330_22219_modificado'
 '19840330_22220_modificado' '19840330_22221_modificado'
 '19841219_23816_modificado' '19841219_23817_modificado'
 '19841219_23818_modificado' '19841220_24060_modificado'
 '19841220_24061_modificado' '19841220_24062_modificado'
 '19841220_24070_modificado' '19841220_24071_modificado'
 '19841220_24072_modificado' '19841220_24073_modificado'
 '19841220_24074_modificado' '19850129_25821_modificado'
 '19850129_25822_modificado' '19850129_25823_modificado'
 '19850129_25824_modificado' '19850129_25838_modificado'
 '19850129_25839_modificado' '19850129_25840_modificado'
 '19850129_25841_modificado' '19850206_26266_modificado'
 '19850206_26267_modificado' '19980218_11704_modified'
 '19980218_11705_GEO' '19980218_11706_GEO' '19980218_11707_GEO'
 '19980220_12370_GEO' '19980220_12371_GEO' '19980220_12373_GEO'
 '19980220_12429_modified' '19980220_12430_GEO' '19980220_12431_GEO']

type                       monoband
scene
19840330_22116_GEO                1
19840330_22118_GEO                1
19840330_22119_GEO                1
19840330_22120_GEO                1
19840330_22121_GEO                1
19840330_22122_GEO                1
19840330_22123_GEO                1
19840330_22212_GEO                1
19840330_22213_GEO                1
19840330_22214_GEO                1
19840330_22215_GEO                1
19840330_22216_GEO                1
19840330_22217_GEO                1
19840330_22218_GEO                1
19840330_22219_modificado         1
19840330_22220_modificado         1
19840330_22221_modificado         1
19841219_23816_modificado         1
19841219_23817_modificado         1
19841219_23818_modificado         1
19841220_24060_modificado         1
19841220_24061_modificado         1
19841220_24062_modificado         1
19841220_24070_modificado         1
19841220_24071_modificado         1
19841220_24072_modificado         1
19841220_24073_modificado         1
19841220_24074_modificado         1
19850129_25821_modificado         1
19850129_25822_modificado         1
19850129_25823_modificado         1
19850129_25824_modificado         1
19850129_25838_modificado         1
19850129_25839_modificado         1
19850129_25840_modificado         1
19850129_25841_modificado         1
19850206_26266_modificado         1
19850206_26267_modificado         1
19980218_11704_modified           1
19980218_11705_GEO                1
19980218_11706_GEO                1
19980218_11707_GEO                1
19980220_12370_GEO                1
19980220_12371_GEO                1
19980220_12373_GEO                1
19980220_12429_modified           1
19980220_12430_GEO                1
19980220_12431_GEO                1

In [20]:
print("Product: planet_scope")
only_planet_scope = s3_imagenes_glaciar[s3_imagenes_glaciar["product"]=="planet_scope"]
print(np.unique(only_planet_scope['scene']))

pd.crosstab(only_planet_scope['scene'], only_planet_scope['type'])

Product: planet_scope
['REQ_6794' 'REQ_6795' 'REQ_6796' 'REQ_6797']

type      mss  qa
scene
REQ_6794    8   8
REQ_6795    8   8
REQ_6796    8   8
REQ_6797    8   8